* {
    font-family: roboto;
    color: #f9faf8;
}

body {
    margin: 0px;
}

.header {
    display: flex;
    background-color: #1F2937;
    color: white;
    font-size: 18px;
    justify-content: space-between;
    margin: 0px;
    align-items: center;
}

.header-text {
    margin-left: 55px;
    font-size: 18px;
}

.content {
    display: flex;
}

.footer {
    display: flex;
}

.right-items {
    display: flex;
    justify-content: space-between;
    margin-right: 55px;
}

li {
    justify-content: right;
    margin: 5px;
}

ul {
    list-style-type: none;
    font-size: 18px;
}

a {
    text-decoration: none;
}

span {
    font-weight: 900;
}